/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 2%;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

body {
    background-color: rgb(76, 173, 230);
}

.soft-details-container {
}

.port-selection-container {
    background-color: rgb(204, 62, 52);

    width: 100%;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid black;
    border-radius: 10px;

    padding: 10px 5px;

    display: flex;

    align-items: center;
}

.port-container-not-connected {
    background-color: rgb(204, 62, 52);
}

.port-container-connected {
    background-color: rgb(17, 146, 0);
}

.port-lbl {
    margin-right: 2%;
    color:black;

    font-size: 1.2rem;
    font-weight: bold;
}

.port-select {

    height: 1.5rem;
    width: 20%;

    margin-right: 2%;

    border-radius: 10px;
}

.reload-btn {
    width: 25px;

    margin-right: 2%;
}

.port-btn {
    border-radius: 10px;
    font-size: 1rem;

    margin-right: 2%;

    background-color: chartreuse;
}

.manual-control-container {
    font-size: 0;
}

.manual-control-container h2 {
    font-size: 1.5rem;
}

.manual-control-container button {
    width: 12%;

    margin-left: 1px;
    margin-right: 1px;
}

.port-status-lbl {
    font-style: italic;
    font-size: 1.3rem;
}


.personalised-command-container {

}

.personalised-command {
    width: 80%;
}

.personalised-command-container button {
    width: 15%;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

table {
    table-layout:fixed; 
    width:100%;
}

table th {
    width: 50px;
}

table td {
    text-align: center;
}

table th:nth-child(2) {
    width: 110px;
}

table input {
    width: 100%;
}